<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Gobbler</title>
  </head>
  <body>
    <header>
      <h1>
        <a>Gobbler</a>
      </h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="submit-page">Add a Recipe</a>
          </li>
          <li>
            {{#if loggedIn}}
              <button id="logout" class="btn btn-danger">Logout</button>
            {{else}}
              <a href="login">Login</a>
            {{/if}}
          </li>
        </ul>
      </nav>
    </header>
    
    <section>
      {{{body}}}
    </section>

    <!--"what we do" section-->
    <section id="aboutgobbler" class="aboutgobbler">
      <h2 class="section-title primary-border">About Gobbler</h2>
      <p>Gobbler is desgined to eat the most food all the time. They love to
        eat.
      </p>
    </section>

    <!--"reach out" section-->
    <section id="reach-out" class="contact">
      <h2 class="section-title secondary-border">Reach Out</h2>
      <div class="contact-info">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11907.324090357402!2d-73.9332844!3d41.7457375!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xddf3c2f8e68f11a5!2sThe%20Culinary%20Institute%20of%20America!5e0!3m2!1sen!2sus!4v1654662150685!5m2!1sen!2sus"
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <h3>Gobbler</h3>
        <p>
          Any questions or concerns?
          <br />
          Feel free to reach out!
        </p>
        <address>
          1946 Campus Dr.
          <br />
          Hyde Park, NY
          <br />
          12538<br />
          P: 555.GOB.BLER (555.462.2537)<br />
          E:
          <a href="mailto:customerservice@gobbler.com">info@gobbler.io</a>
        </address>
      </div>
    </section>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
    <!--footer-->
    <footer>
      &copy; 2022 GOBBLER CORP
    </footer>
  </body>
</html>