<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css"/>
    <title>Recipe Blog</title>
</head>
<body>
    <header>
        <h1>
            <a>Recipe Blog</a>
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="submit-page">Add a Recipe</a>
                </li>
                <li>
                    {{#if loggedIn}}
                    <button if="logout">Logout</button>
                    {{else}}
                    <a href="login">Login</a>
                    {{/if}}
                </li>
            </ul>
        </nav>
    </header>
    <section>
        {{{body}}}
    </section>
</body>
</html>