<form>
    <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title">
    </div>
    <div>
        <label for="post-url">URL</label>
        <input type="text" id="post-url">
    </div>
    <div>
        <label for="post-description">Description</label>
        <input type="text" id="post-description">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>