<form class="new-post-form">
    <div class="mt-2">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" id="post-title" class="form-control w-50" placeholder="Recipe Name" autocomplete="off">
    </div>
    <div class="mt-2">
        <label for="post-url" class="form-label">URL</label>
        <input type="text" id="post-url" class="form-control w-50" placeholder="URL to Recipe" autocomplete="off">
    </div>
    <div class="mt-2">
        <label for="post-description" class="form-label">Description</label>
        <input type="text" id="post-description" class="form-control w-50" placeholder="Description of Recipe" autocomplete="off">
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<script src="/javascript/add-post.js"></script>