{{#if loggedIn}}
<ul class="post-list">
  {{#each posts as |post|}}
  <li class="list-item rounded-1">
    {{>post-info post}}
  </li>
  {{/each}}
</ul>
{{else}}
<div class="login-warning">
  <p>Please log in to see recipes!</p>
</div>
{{/if}}